.contacts__map {
    width: 50%;
    height: 960px;
    display: flex;
    margin-left: 50px;
}

iframe {
    display: block;
    margin: auto;
}

@media screen and (min-width: 1023px) and (max-width: 1843px) {
    .contacts__map {
        margin-left: 50px;
    }
  }