.description__values {
    font-weight: 500;
    font-size: 30px;
    line-height: 128%;
    letter-spacing: 0.015em;
    display: flex;
    flex-direction: column;
    min-height: 420px;
    min-width: 700px;
    padding: 0px;
    align-content: space-between;
    margin: 0 auto 80px 100px;
}