.header {
  min-height: 120px;
  width: 100%;
  color: white;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

main {
  padding-top: 120px;
  max-width: 2560px;
  min-width: 320px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    min-height: 120px;
  width: 100%;
  color: white;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 10;
  }
}
