.description__phonescreen {
    display: none;
}

@media screen and (max-width: 767px) {
    .description__phonescreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        min-width: 320px;
    width: 100%;
    min-height: 240px;
    background-image: url(../../../images/phone_Interior1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    }

    .description__phonescreen h4 {
        font-weight: 500;
font-size: 28px;
line-height: 128%;
text-align: center;
letter-spacing: 0.015em;
margin: 0 auto;
    }

    .description__phonescreen .bookBtn {
        width: 260px;
    height: 50px;
    border: 2px solid #ffffff;
    }
}