.service {
  width: 100%;
  min-height: 1080px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .service .header__forSection {
    display: none;
  }

  .service {
    min-height: 520px;
  }
}
