.header__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.header__list li {
  margin-left: 58px;
}

.header__list li:first-of-type {
  margin-left: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
